<ion-header>
  <ion-navbar>
    <ion-title>
      Speaking Eye
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content (click)="this.takePhoto();" padding>
  <p>Status: {{this.var}}</p>
  <img [src]="this.image"/>
  <button ion-button (click)="this.listen();" *ngIf="false && this.isListening">Stop listening</button>
  <button ion-button (click)="this.listen();" *ngIf="false && !this.isListening">Start listening</button>
</ion-content>
